fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
pillow==10.1.0
numpy
tensorflow==2.19.0  # For .keras Keras/TensorFlow models
# scikit-learn==1.3.0  
# Uncomment based on your model type:
# torch==2.0.1        # For .pt PyTorch models
# torchvision==0.15.2 # For PyTorch image processing

# fastapi==0.115.0
# uvicorn==0.30.1
# tensorflow==2.19.0
# pillow==10.2.0
# numpy==1.26.4
# python-multipart==0.0.6
